@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Mecanismo de pesquisa */

.buscar-box {
    width: 400px;   /* Ajuste conforme  */
    height: 80px;   /* Ajuste conforme  */
    background-color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
}
.buscar-box.ativar{
    width: 400px;
}

.buscar-box .lupa-box, .buscar-box .btn-fechar {
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buscar-box .btn-fechar i {
    font-size: 20px; 
    margin-left: 15px;
}

.buscar-box .lupa-box i {
    font-size: 35px; 
}

.buscar-box .input-buscar {
    position: absolute;
    left: 80px;
    width: calc(100% - 160px); 
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden; 
}

.buscar-box input {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    overflow: hidden;
}