body {
    display: flex ;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
    
    
   
    
    font-size: 30px;
    font-family: cursive;
    
}

div.criacaodeconta {
    border: 4px solid black;
    padding: 18px;
 
    
}

h3 {
    margin: 25px;
    
}

div.botao {
   
}

